<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragments_layout_admin}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-3">
            <form action="" >
                <div class="form-group mb-3">
                    <label class="form-label">Mã Màu</label>
                    <input class="form-control" type="color">
                </div>
                <div class="form-group mb-3">
                    <label class="form-label">Tên</label>
                    <input class="form-control" type="text">
                </div>
                <button class="btn btn-rounded btn-primary" type="submit">Add
                </button>
                  </form>
        </div>
        <div class="col-9">

            <div class="card">
                <div class="card-body">

                    <h4 class="card-title mb-3">Danh Sách</h4>

                    <ul class="nav nav-tabs nav-bordered mb-3">
                        <li class="nav-item">
                            <a href="#home-b1" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
                                <i class="mdi mdi-home-variant d-lg-none d-block me-1"></i>
                                <span class="d-none d-lg-block">Hoạt Động</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#profile-b1" data-bs-toggle="tab" aria-expanded="true"
                               class="nav-link">
                                <i class="mdi mdi-account-circle d-lg-none d-block me-1"></i>
                                <span class="d-none d-lg-block">Ngừng Hoạt Động</span>
                            </a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane show active" id="home-b1">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Mã Màu</th>
                                    <th scope="col">Tên Màu</th>
                                    <th scope="col">Ngày Tạo</th>
                                    <th scope="col">Ngày Cập Nhật</th>
                                    <th scope="col">Trạng Thái</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="tab-pane" id="profile-b1">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Mã Màu</th>
                                    <th scope="col">Tên Màu</th>
                                    <th scope="col">Ngày Tạo</th>
                                    <th scope="col">Ngày Cập Nhật</th>
                                    <th scope="col">Trạng Thái</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td>@mdo</td>
                                    <td><a href="#" class="btn waves-effect waves-light btn-rounded btn-warning" data-bs-toggle="modal"  data-bs-target="#login-modal">Warning</a>
                                        <a href="#" class="btn waves-effect waves-light btn-rounded btn-danger">Danger</a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div> <!-- end card-body-->
            </div> <!-- end card-->

            <div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="text-center mt-2 mb-4">
                                <a href="#" class="text-success">
                                    <span><img class="me-2" th:src="@{/assets/images/image1.png}" alt="" width="180"></span>
                                </a>
                            </div>

                            <form action="#" class="ps-3 pe-3">
                                <div class="form-group mb-3">
                                    <label class="form-label">Mã Màu</label>
                                    <input class="form-control" type="color">
                                </div>
                                <div class="form-group mb-3">
                                    <label class="form-label">Tên</label>
                                    <input class="form-control" type="text">
                                </div>

                                <div class="form-group mb-3 text-center">
                                    <button class="btn btn-rounded btn-primary" type="submit">Update</button>
                                </div>
                            </form>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>


        </div>
    </div>
</div>

</body>
</html>