<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragments_layout_admin}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <h2 class="text-center mb-4">Thêm Sản Phẩm</h2>
    <form action="" method="post" onsubmit="return confirm('Bạn có thêm không?')">
        <div class="form-group mb-3">
            <input class="form-control custom-shadow custom-radius border-1 bg-white"
                   type="text" placeholder="Nhập tên sản phẩm" style="height: 50px">
            <!--                    <span th:if="${#fields.hasErrors('ten')}" style="color: red; font-size: 13px" th:errors="*{ten}"></span>-->
        </div>
        <div class="form-group mb-3">
            <input class="form-control custom-shadow custom-radius border-1 bg-white"
                   type="text" placeholder="Nhập mô tả sản phẩm" style="height: 80px">
            <!--                    <span th:if="${#fields.hasErrors('ten')}" style="color: red; font-size: 13px" th:errors="*{ten}"></span>-->
        </div>
        <div class="row">
            <div class="col-4">
                <div class="form-group mb-3">
                    <input class="form-control custom-shadow custom-radius border-1 bg-white"
                           type="text" placeholder="Nhập giá sản phẩm" style="height: 45px">
                    <!--                    <span th:if="${#fields.hasErrors('ten')}" style="color: red; font-size: 13px" th:errors="*{ten}"></span>-->
                </div>
                <div class="form-group mb-3">
                    <div class="customize-input d-flex">
                        <select
                                class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                style="height: 45px"
                        >
                            <option selected value="">Màu Sắc</option>

                        </select>
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info m-auto"
                                data-bs-toggle="modal"
                                data-bs-target="#login-modal" style="height: 40px">+
                        </button>
                    </div>

                </div>
                <div class="form-group mb-3">
                    <div class="customize-input d-flex">
                        <select
                                class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                style="height: 45px"
                        >
                            <option selected value="">Loại Sản Phẩm</option>
                        </select>
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info m-auto"
                                data-bs-toggle="modal"
                                data-bs-target="#login-modal" style="height: 40px">+
                        </button>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="customize-input d-flex">
                        <select
                                class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                style="height: 45px"
                        >
                            <option selected value="">Chất Liệu</option>
                        </select>
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info m-auto"
                                data-bs-toggle="modal"
                                data-bs-target="#login-modal" style="height: 40px">+
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mb-3">
                    <input class="form-control custom-shadow custom-radius border-1 bg-white"
                           type="text" placeholder="Nhập mã vạch sản phẩm" style="height: 45px">
                    <!--                    <span th:if="${#fields.hasErrors('ten')}" style="color: red; font-size: 13px" th:errors="*{ten}"></span>-->
                </div>
                <div class="form-group mb-3">
                    <div class="customize-input d-flex">
                        <select
                                class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                style="height: 45px"
                        >
                            <option selected value="">Thương Hiệu</option>
                        </select>
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info m-auto"
                                data-bs-toggle="modal"
                                data-bs-target="#login-modal" style="height: 40px">+
                        </button>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="customize-input d-flex">
                        <select
                                class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                style="height: 45px"
                        >
                            <option selected value="">Cổ Áo</option>
                        </select>
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info m-auto"
                                data-bs-toggle="modal"
                                data-bs-target="#login-modal" style="height: 40px">+
                        </button>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="customize-input d-flex">
                        <select
                                class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                style="height: 45px"
                        >
                            <option selected value="">Dòng Sản Phẩm</option>
                        </select>
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info m-auto"
                                data-bs-toggle="modal"
                                data-bs-target="#login-modal" style="height: 40px">+
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="form-group mb-3">
                    <input class="form-control custom-shadow custom-radius border-1 bg-white"
                           type="text" placeholder="Nhập năm sản xuất" style="height: 45px">
                    <!--                    <span th:if="${#fields.hasErrors('ten')}" style="color: red; font-size: 13px" th:errors="*{ten}"></span>-->
                </div>
                <div class="form-group mb-3">
                    <div class="customize-input d-flex">
                        <select
                                class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                style="height: 45px"
                        >
                            <option selected value="">Cầu Thủ</option>
                        </select>
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info m-auto"
                                data-bs-toggle="modal"
                                data-bs-target="#login-modal" style="height: 40px">+
                        </button>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="customize-input d-flex">
                        <select
                                class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                style="height: 45px"
                        >
                            <option selected value="">Nhà Sản Xuất</option>
                        </select>
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info m-auto"
                                data-bs-toggle="modal"
                                data-bs-target="#login-modal" style="height: 40px">+
                        </button>
                    </div>
                </div>
                <div class="form-group mb-3">
                    <div class="customize-input d-flex">
                        <select
                                class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                style="height: 45px"
                        >
                            <option selected value="">Nước Sản Xuất</option>
                        </select>
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info m-auto"
                                data-bs-toggle="modal"
                                data-bs-target="#login-modal" style="height: 40px">+
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <div class="form-group mb-3">
                    <div class="customize-input d-flex">
                        <select
                                class="custom-select form-control bg-white custom-radius custom-shadow border-1"
                                style="height: 45px"
                        >
                            <option selected value="">Công nghệ</option>
                        </select>
                        <button type="button" class="btn waves-effect waves-light btn-rounded btn-outline-info m-auto"
                                data-bs-toggle="modal"
                                data-bs-target="#login-modal" style="height: 40px">+
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <form action=""  method="post" enctype="multipart/form-data">
                    <div class="form-group mb-3">
                        <div class="image-preview-container">
                            <input class="form-control custom-shadow custom-radius border-1 bg-white" type="file" id="imageInput" style="height: 40px;width: 100px" th:onchange="|document.getElementById('previewImage').src = window.URL.createObjectURL(this.files[0]); document.getElementById('previewImage').style.display = 'block';|">
                            <label for="imageInput" class="image-upload-label">Chọn ảnh</label>
                        </div>
                        <div class="image-preview">
                            <img id="previewImage" class="custom-shadow custom-radius border-1" alt="Preview" style="max-width: 100%; max-height: 200px; display: none;">
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="form-group mb-3 text-center">
            <!--                    <a href="/admin/psg/san-pham/hien-thi" class="btn waves-effect waves-light btn-rounded btn-primary">Back</a>-->
            <button class="btn waves-effect waves-light btn-rounded btn-outline-info" type="submit">Add</button>
        </div>
    </form>
</div>

</body>
</html>