<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragments_layout_admin}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-3"> </div>
        <div class="col-6">
            <form action="/admin/psg/thu-hang/update" th:object="${thuHang}" method="post" onsubmit="return  confirm('Bạn có cập nhật không?')">
                <input type="hidden" th:field="*{id}">
                <input type="hidden" th:field="*{ngayTao}">
                <input type="hidden" th:field="*{ma}">
                <select class="form-select rounded"  th:field="*{ten}" style="background-color: white" aria-label="Default select example">
                    <!--                    <option selected>Chọn tên thứ hạng</option>-->
                    <option value="MEMBER">Thành viên</option>
                    <option value="SILVER">Bạc</option>
                    <option value="GOLD">Vàng</option>
                    <option value="DIAMOND">Kim cương</option>
                </select><br>

                <div class="form-group mb-3">
                    <input  class="form-control custom-shadow custom-radius border-0 bg-white"
                            type="text" placeholder="Nhập số tiền tối thiểu" th:field="*{soTienKhachChiToiThieu}" style="height: 50px">
                    <span th:if="${#fields.hasErrors('soTienKhachChiToiThieu')}" style="color: red; font-size: 13px" th:errors="*{soTienKhachChiToiThieu}"></span>
                </div>
                <div class="form-group mb-3">
                    <input  class="form-control custom-shadow custom-radius border-0 bg-white"
                            type="text" placeholder="Nhập số lượng tối thiểu" th:field="*{soLuongDonHangToiThieu}" style="height: 50px">
                    <span th:if="${#fields.hasErrors('soLuongDonHangToiThieu')}" style="color: red; font-size: 13px" th:errors="*{soLuongDonHangToiThieu}"></span>
                </div>
                <div class="form-group mb-3 text-center">
                    <a href="/admin/psg/thu-hang/hien-thi" class="btn waves-effect waves-light btn-rounded btn-primary">Trở lại</a>
                    <button class="btn btn-rounded btn-primary" type="submit">Cập nhật</button>
                </div>
            </form>
        </div>
        <div class="col-3"> </div>
</div>
</div>

</body>
</html>