<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragments_layout_admin}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <style>
        .row{
            margin-top: 20px;
            margin-bottom: 20px;
        }
    </style>
    <script>
        function chooseFile(fileInput) {
            if (fileInput.files && fileInput.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#image').attr('src', e.target.result);
                };
                reader.readAsDataURL(fileInput.files[0]);
            }
        }
    </script>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">


        <form action="/admin/psg/nhan-vien/add" th:object="${nhanVien}" method="post" enctype="multipart/form-data"
              onsubmit="return confirm('Bạn có thêm không?')">
            <div class="row">
                <div class="col-4">
                    <img src="" alt="" id="image" class="form-control" width="200px" height="200px">
                    <input type="file" th:field="*{anh}" id="imageFile" onchange="chooseFile(this)">
                </div>

                <div class="col-8">
                    <div class="row">
                        <div class="col-6">
                            <label class="form-label">Vai Trò</label>
                            <div class="input-group">
                                <select class="form-control custom-shadow custom-radius border-0 bg-white"
                                        aria-label="Default select example" th:field="*{vaiTro}">
                                    <option th:each="tv : ${vaiTro}" th:value="${tv.id}" th:text="${tv.ten}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <label class="form-label">Tên</label>
                            <input type="text" class="form-control custom-shadow custom-radius border-0 bg-white"
                                   th:field="*{ten}"/>
                            <div th:if="${#fields.hasErrors('ten')}" style="color: red" th:errors="*{ten}"></div>
                        </div>
                    </div>

                    <div class="row">
                        Địa Chỉ: <input type="text" class="form-control custom-shadow custom-radius border-0 bg-white"
                                        th:field="*{diaChi}"/>
                        <div th:if="${#fields.hasErrors('diaChi')}" style="color: red" th:errors="*{diaChi}"></div>
                    </div>


                    <div class="row">
                        <div class="col-6">
                            <label class="form-label">Số Điện Thoại</label>
                            <input type="text" class="form-control custom-shadow custom-radius border-0 bg-white"
                                   th:field="*{sdt}"/>
                            <div th:if="${#fields.hasErrors('sdt')}" style="color: red" th:errors="*{sdt}"></div>
                        </div>
                        <div class="col-6">
                            <label class="form-label">Giới Tính</label>
                            <br>
                            <input type="radio" name="gioiTinh" th:value="true" th:field="*{gioiTinh}"/>
                            <label for="gioiTinhNam">Nam</label>
                            <input type="radio" name="gioiTinh" th:value="false" th:field="*{gioiTinh}"/>
                            <label for="gioiTinhNu">Nữ</label>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-6">
                            <label class="form-label">Ngày Sinh</label>
                            <input type="date" class="form-control custom-shadow custom-radius border-0 bg-white"
                                   th:field="*{ngaySinh}"/>
                            <div th:if="${#fields.hasErrors('ngaySinh')}" style="color: red" th:errors="*{ngaySinh}"></div>
                        </div>
                        <div class="col-6">
                            <label class="form-label">Email</label>
                            <input type="text" class="form-control custom-shadow custom-radius border-0 bg-white"
                                   th:field="*{email}"/>
                            <div th:if="${#fields.hasErrors('email')}" style="color: red" th:errors="*{email}"></div>
                        </div>
                    </div>

                    <div class="row">
                        <label class="form-label">Mật Khẩu</label>
                        <input type="password" class="form-control custom-shadow custom-radius border-0 bg-white"
                               th:field="*{matKhau}"/>
                        <div th:if="${#fields.hasErrors('matKhau')}" style="color: red" th:errors="*{matKhau}"></div>
                    </div>

              <br><br>
                    <button type="submit" class="btn btn-success" style="text-align: center">ADD</button>
                </div>

            </div>

        </form>
    </div>

</div>
</body>
</html>
