<!DOCTYPE html>
<html lang="fr-FR">
  <head>
    <link rel="apple-touch-icon" />
    <title>
      Paris Saint-Germain Boutique, PSG Boutique, Merch, PSG Chemises, Kits |
      store.psg.fr
    </title>
    <meta charset="UTF-8" />
    <meta content="@Fanatics" property="twitter:site" />
    <link
      href="/static/1.1.0-rc-20230809.71617/css/base-theme.css"
      rel="stylesheet"
    />
  </head>
  <body data-trk-id="TLP">
    <div class="layout-row" data-trk-id="r1">
      <div class="layout-column" data-trk-id="c1">
        <div
          class="layout-row fancash-banner"
          data-trk-id="fancash-banner"
        ></div>
        <div class="layout-row top-breadcrumbs" data-trk-id="top-breadcrumbs">
          <div class="">
            <ul
              class="breadcrumbs-container"
              vocab="http://schema.org/"
              typeof="BreadcrumbList"
            >
              <li
                property="itemListElement"
                typeof="ListItem"
                class="mobile-breadcrumb"
              >
                <span class="breadcrumb-text">Paris Saint-Germain</span
                ><meta property="position" content="1" /><meta
                  property="name"
                  content="Paris Saint-Germain"
                />
              </li>
            </ul>
          </div>
        </div>

        <div class="layout-row" data-trk-id="r9">
          <div class="layout-column side-nav-column large-3" data-trk-id="c1">
            <div class="layout-row side-nav" data-trk-id="side-nav">
              <nav
                class="side-nav-container closed"
                role="navigation"
                aria-label="filtrer les produits"
                id="side-nav"
              >
                <div class="side-nav-component slide-left">
                  <a href="#" data-trk-id="side-nav-back" class="side-nav-back"
                    ><span>Filtres</span
                    ><span class="close-pullout">Annuler</span></a
                  >
                  <div class="side-nav-facets">
                    <div
                      class="side-nav-facet"
                      data-trk-id="genre-age"
                      data-talos="filterContainer"
                    >
                      <div class="sticky side-nav-facet-header divider">
                        <h2 class="side-nav-facet-heading">
                          <a
                            href="#"
                            data-trk-id="filter-accordian-title"
                            data-talos="filterAccordion"
                            class="side-nav-facet-link"
                            role="button"
                            aria-expanded="true"
                            ><span>Genre/Âge</span
                            ><i
                              aria-hidden="true"
                              class="icon icon-plus"
                              role="presentation"
                            ></i
                          ></a>
                        </h2>
                      </div>
                      <div
                        class="side-nav-facet-items genderAgeGroups"
                        role="region"
                        aria-hidden="false"
                      >
                        <ul>
                          <li>
                            <a
                              href="/fr/paris-saint-germain-men/t-25643682+ga-89+z-905835-176479248?_ref=p-TLP:m-SIDE_NAV"
                              data-trk-id="homme"
                              data-talos="filter"
                              class="side-nav-facet-item hide-radio-button"
                              ><span>Homme</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="side-nav-facet"
                      data-trk-id="categories-populaires"
                      data-talos="filterContainer"
                    >
                      <div class="sticky side-nav-facet-header divider">
                        <h2 class="side-nav-facet-heading">
                          <a
                            href="#"
                            data-trk-id="filter-accordian-title"
                            data-talos="filterAccordion"
                            class="side-nav-facet-link"
                            role="button"
                            aria-expanded="true"
                            ><span>Catégories populaires</span
                            ><i
                              aria-hidden="true"
                              class="icon icon-plus"
                              role="presentation"
                            ></i
                          ></a>
                        </h2>
                      </div>
                      <div
                        class="side-nav-facet-items featuredDepartmentsBoxes"
                        role="region"
                        aria-hidden="false"
                      >
                        <ul>
                          <li>
                            <a
                              href="/fr/paris-saint-germain-scarves/t-14081482+d-2316656279+z-97-57475455?_ref=p-TLP:m-SIDE_NAV"
                              data-trk-id="echarpes"
                              data-talos="filter"
                              class="side-nav-facet-item hide-radio-button"
                              ><span>Écharpes</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="side-nav-facet"
                      data-trk-id="type-de-tenue"
                      data-talos="filterContainer"
                    >
                      <div class="sticky side-nav-facet-header divider">
                        <h2 class="side-nav-facet-heading">
                          <a
                            href="#"
                            data-trk-id="filter-accordian-title"
                            data-talos="filterAccordion"
                            class="side-nav-facet-link"
                            role="button"
                            aria-expanded="true"
                            ><span>Type de tenue</span
                            ><i
                              aria-hidden="true"
                              class="icon icon-plus"
                              role="presentation"
                            ></i
                          ></a>
                        </h2>
                      </div>
                      <div
                        class="side-nav-facet-items colorStyles"
                        role="region"
                        aria-hidden="false"
                      >
                        <ul>
                          <li>
                            <a
                              href="/fr/paris-saint-germain-home/t-25192593+z-9969056-4243726292?cs=3&amp;_ref=p-TLP:m-SIDE_NAV"
                              data-trk-id="domicile"
                              data-talos="filter"
                              class="side-nav-facet-item hide-radio-button"
                              ><span>Domicile</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="side-nav-facet"
                      data-trk-id="joueur"
                      data-talos="filterContainer"
                    >
                      <div class="sticky side-nav-facet-header divider">
                        <h2 class="side-nav-facet-heading">
                          <a
                            href="#"
                            data-trk-id="filter-accordian-title"
                            data-talos="filterAccordion"
                            class="side-nav-facet-link"
                            role="button"
                            aria-expanded="true"
                            ><span>Joueur</span
                            ><i
                              aria-hidden="true"
                              class="icon icon-plus"
                              role="presentation"
                            ></i
                          ></a>
                        </h2>
                      </div>
                      <div
                        class="side-nav-facet-items players height-overflow"
                        role="region"
                        aria-hidden="false"
                      >
                        <ul>
                          <li>
                            <a
                              href="/fr/paris-saint-germain-achraf-hakimi/t-25975871+a-8933557354+z-90-2703529030?_ref=p-TLP:m-SIDE_NAV"
                              data-trk-id="achraf-hakimi"
                              data-talos="filter"
                              class="side-nav-facet-item hide-radio-button"
                              ><span>Achraf Hakimi</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="side-nav-facet"
                      data-trk-id="collections-populaires"
                      data-talos="filterContainer"
                    >
                      <div class="sticky side-nav-facet-header divider">
                        <h2 class="side-nav-facet-heading">
                          <a
                            href="#"
                            data-trk-id="filter-accordian-title"
                            data-talos="filterAccordion"
                            class="side-nav-facet-link"
                            role="button"
                            aria-expanded="true"
                            ><span>Collections populaires</span
                            ><i
                              aria-hidden="true"
                              class="icon icon-plus"
                              role="presentation"
                            ></i
                          ></a>
                        </h2>
                      </div>
                      <div
                        class="side-nav-facet-items productGroups"
                        role="region"
                        aria-hidden="false"
                      >
                        <ul>
                          <li>
                            <a
                              href="/fr/paris-saint-germain-hot-new-arrivals/t-70194726+c-5677649858+z-8-3758727209?_ref=p-TLP:m-SIDE_NAV"
                              data-trk-id="nouveautes"
                              data-talos="filter"
                              class="side-nav-facet-item hide-radio-button"
                              ><span>Nouveautés</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="side-nav-facet"
                      data-trk-id="toutes-les-categories"
                      data-talos="filterContainer"
                    >
                      <div class="sticky side-nav-facet-header divider">
                        <h2 class="side-nav-facet-heading">
                          <a
                            href="#"
                            data-trk-id="filter-accordian-title"
                            data-talos="filterAccordion"
                            class="side-nav-facet-link"
                            role="button"
                            aria-expanded="true"
                            ><span>Toutes les catégories</span
                            ><i
                              aria-hidden="true"
                              class="icon icon-plus"
                              role="presentation"
                            ></i
                          ></a>
                        </h2>
                      </div>
                      <div
                        class="side-nav-facet-items allDepartmentsBoxes"
                        role="region"
                        aria-hidden="false"
                      >
                        <ul>
                          <li>
                            <a
                              href="/fr/paris-saint-germain-fashion-accessories/t-14207071+d-4572874545+z-94-457076514?_ref=p-TLP:m-SIDE_NAV"
                              data-trk-id="accessoires-de-mode"
                              data-talos="filter"
                              class="side-nav-facet-item hide-radio-button"
                              ><span>Accessoires de mode</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="side-nav-facet"
                      data-trk-id="produits-personnalises"
                      data-talos="filterContainer"
                    >
                      <div class="sticky side-nav-facet-header divider">
                        <h2 class="side-nav-facet-heading">
                          <a
                            href="#"
                            data-trk-id="filter-accordian-title"
                            data-talos="filterAccordion"
                            class="side-nav-facet-link"
                            role="button"
                            aria-expanded="true"
                            ><span>Produits personnalisés</span
                            ><i
                              aria-hidden="true"
                              class="icon icon-plus"
                              role="presentation"
                            ></i
                          ></a>
                        </h2>
                      </div>
                      <div
                        class="side-nav-facet-items custom"
                        role="region"
                        aria-hidden="false"
                      >
                        <ul>
                          <li>
                            <a
                              href="/fr/paris-saint-germain-custom/t-36867048+cz-12+z-80657-2929027073?_ref=p-TLP:m-SIDE_NAV"
                              data-trk-id="personnalisation"
                              data-talos="filter"
                              class="side-nav-facet-item hide-radio-button"
                              ><span>Personnalisation</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div
                      class="side-nav-facet"
                      data-trk-id="marques-presentees"
                      data-talos="filterContainer"
                    >
                      <div class="sticky side-nav-facet-header divider">
                        <h2 class="side-nav-facet-heading">
                          <a
                            href="#"
                            data-trk-id="filter-accordian-title"
                            data-talos="filterAccordion"
                            class="side-nav-facet-link"
                            role="button"
                            aria-expanded="true"
                            ><span>Marques présentées</span
                            ><i
                              aria-hidden="true"
                              class="icon icon-plus"
                              role="presentation"
                            ></i
                          ></a>
                        </h2>
                      </div>
                      <div
                        class="side-nav-facet-items brands"
                        role="region"
                        aria-hidden="false"
                      >
                        <ul>
                          <li>
                            <a
                              href="/fr/paris-saint-germain-jordan-brand/t-25861493+br-351287+z-9423-475346623?_ref=p-TLP:m-SIDE_NAV"
                              data-trk-id="jordan-brand"
                              data-talos="filter"
                              class="side-nav-facet-item hide-radio-button"
                              ><span>Jordan Brand</span></a
                            >
                          </li>
                          <li>
                            <a
                              href="/fr/paris-saint-germain-nike/t-47538160+br-6395+z-8144-2108240490?_ref=p-TLP:m-SIDE_NAV"
                              data-trk-id="nike"
                              data-talos="filter"
                              class="side-nav-facet-item hide-radio-button"
                              ><span>Nike</span></a
                            >
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </nav>
            </div>
          </div>
          <div
            class="layout-column center-column large-9 medium-12"
            data-trk-id="c2"
          >
            <div class="layout-row" data-trk-id="r2"></div>
            <div class="layout-row grid-title" data-trk-id="grid-title"></div>
            <div class="layout-row product-grid" data-trk-id="product-grid">
              <div class="product-grid-container small-12 columns">
                <div class="product-grid-top-area">
                  <div class="paginator">
                    <div class="show-for-small-only pills"></div>
                    <div class="pagination-navigation">
                      <div class="product-count">1078 Articles</div>
                      <div class="pagination-component">
                        <div class="page-list">
                          <div class="pagination-container">
                            <ul
                              class="pagination-list-container"
                              aria-label="Numéros de page"
                            >
                              <li class="previous-page disabled">
                                <a
                                  href="/fr/paris-saint-germain/t-25192593+z-9969056-3892928360?pageSize=72&amp;sortOption=TopSellers"
                                  data-trk-id="page-precedente"
                                  data-talos="linkSearchResultsPrevPage"
                                  aria-label="page précédente"
                                  aria-disabled="true"
                                  tabindex="0"
                                  role="link"
                                  ><i
                                    aria-label="page précédente"
                                    aria-disabled="true"
                                    class="icon icon-left-arrow"
                                    role="presentation"
                                  ></i
                                ></a>
                              </li>
                              <li class="selected show-for-large">
                                <a
                                  href="/fr/paris-saint-germain/t-25192593+z-9969056-3892928360?pageSize=72&amp;sortOption=TopSellers"
                                  data-trk-id="selectionne-page-1"
                                  data-talos="linkSearchResultsPage"
                                  aria-label="sélectionné, page 1"
                                  >1</a
                                >
                              </li>
                              <li class="show-for-large">
                                <a
                                  href="/fr/paris-saint-germain/t-25192593+z-9969056-3892928360?pageNumber=2&amp;pageSize=72&amp;sortOption=TopSellers"
                                  data-trk-id="page-2"
                                  data-talos="linkSearchResultsPage"
                                  aria-label="page 2"
                                  >2</a
                                >
                              </li>
                              <li class="show-for-large">
                                <a
                                  href="/fr/paris-saint-germain/t-25192593+z-9969056-3892928360?pageNumber=3&amp;pageSize=72&amp;sortOption=TopSellers"
                                  data-trk-id="page-3"
                                  data-talos="linkSearchResultsPage"
                                  aria-label="page 3"
                                  >3</a
                                >
                              </li>
                              <li class="show-for-large">
                                <a
                                  href="/fr/paris-saint-germain/t-25192593+z-9969056-3892928360?pageNumber=4&amp;pageSize=72&amp;sortOption=TopSellers"
                                  data-trk-id="page-4"
                                  data-talos="linkSearchResultsPage"
                                  aria-label="page 4"
                                  >4</a
                                >
                              </li>
                              <li class="show-for-large">
                                <a
                                  href="/fr/paris-saint-germain/t-25192593+z-9969056-3892928360?pageNumber=5&amp;pageSize=72&amp;sortOption=TopSellers"
                                  data-trk-id="page-5"
                                  data-talos="linkSearchResultsPage"
                                  aria-label="page 5"
                                  >5</a
                                >
                              </li>
                              <li class="simple-list hide-for-large">
                                <div data-talos="pageCount">1 / 15</div>
                              </li>
                              <li class="next-page">
                                <a
                                  href="/fr/paris-saint-germain/t-25192593+z-9969056-3892928360?pageNumber=2&amp;pageSize=72&amp;sortOption=TopSellers"
                                  data-trk-id="page-suivante"
                                  data-talos="linkSearchResultsNextPage"
                                  aria-label="page suivante"
                                  aria-disabled="false"
                                  tabindex="0"
                                  role="link"
                                  ><i
                                    aria-label="page suivante"
                                    aria-disabled="false"
                                    class="icon icon-right-arrow"
                                    role="presentation"
                                  ></i
                                ></a>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="grid-small-1-medium-3 row small-up-1 medium-up-3">
                  <div class="column">
                    <div class="product-card row">
                      <div class="columns small-7 medium-12">
                        <div class="card-image-container">
                          <div class="product-image-container">
                            <a
                              href="/fr/maillot-psg-nike-domicile-stadium-23/24-enfant-avec-flocage-odembélé-23/p-136600486251415662+z-99-2907132541?_ref=p-TLP:m-GRID:i-r0c0:po-0"
                              data-trk-id="p-200466716"
                              class="color-black"
                              tabindex="-1"
                              aria-hidden="true"
                              ><img
                                loading="lazy"
                                src="//images.footballfanatics.com/paris-saint-germain/paris-saint-germain-nike-home-stadium-shirt-2023-24-kids-with-odembélé-23-printing_ss5_p-200466716+u-hmasndycrmtrkpgniwma+v-o3lvdcu4gus3xtpwkuao.png?_hv=2&amp;w=340"
                                alt="Maillot PSG Nike Domicile Stadium 23/24 - Enfant avec flocage O.Dembélé 23"
                                class="product-image"
                                width="340"
                                height="340"
                            /></a>
                          </div>
                        </div>
                        <div class="product-card-colors hide-for-small-only">
                          <div class="card-color-selector-container"></div>
                        </div>
                      </div>
                      <div class="columns small-5 medium-12">
                        <div class="">
                          <div
                            class="price-card"
                            tabindex="0"
                            data-talos="srpProductPrice"
                          >
                            <div class="superscript">
                              <div class="price-row">
                                <span class="lowest"
                                  ><span class="price"
                                    ><span class="money-value"
                                      ><span class="sr-only">92,99 €</span
                                      ><span aria-hidden="true"
                                        ><sup>€</sup><span>92</span
                                        ><sup>99</sup></span
                                      ></span
                                    ><span
                                      class="suffix nodiscountpricetext"
                                    ></span></span
                                ></span>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="product-card-title">
                          <a
                            href="/fr/maillot-psg-nike-domicile-stadium-23/24-enfant-avec-flocage-odembélé-23/p-136600486251415662+z-99-2907132541?_ref=p-TLP:m-GRID:i-r0c0:po-0"
                            data-trk-id="p-200466716"
                            data-talos="linkSearchResult"
                            class="color-black"
                            title="Maillot PSG Nike Domicile Stadium 23/24 - Enfant avec flocage O.Dembélé 23"
                            >Maillot PSG Nike Domicile Stadium 23/24 - Enfant
                            avec flocage O.Dembélé 23</a
                          >
                        </div>
                        <div class="product-card-colors show-for-small-only">
                          <div class="card-color-selector-container"></div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="product-grid-bottom-area">
                  <div class="page-list">
                    <div class="pagination-container">
                      <ul
                        class="pagination-list-container"
                        aria-label="Numéros de page"
                      >
                        <li class="previous-page disabled">
                          <a
                            href="/fr/paris-saint-germain/t-25192593+z-9969056-3892928360?pageSize=72&amp;sortOption=TopSellers"
                            data-trk-id="page-precedente"
                            data-talos="linkSearchResultsPrevPage"
                            aria-label="page précédente"
                            aria-disabled="true"
                            tabindex="0"
                            role="link"
                            ><i
                              aria-label="page précédente"
                              aria-disabled="true"
                              class="icon icon-left-arrow"
                              role="presentation"
                            ></i
                          ></a>
                        </li>
                        <li class="selected show-for-large">
                          <a
                            href="/fr/paris-saint-germain/t-25192593+z-9969056-3892928360?pageSize=72&amp;sortOption=TopSellers"
                            data-trk-id="selectionne-page-1"
                            data-talos="linkSearchResultsPage"
                            aria-label="sélectionné, page 1"
                            >1</a
                          >
                        </li>
                        <li class="show-for-large">
                          <a
                            href="/fr/paris-saint-germain/t-25192593+z-9969056-3892928360?pageNumber=2&amp;pageSize=72&amp;sortOption=TopSellers"
                            data-trk-id="page-2"
                            data-talos="linkSearchResultsPage"
                            aria-label="page 2"
                            >2</a
                          >
                        </li>
                        <li class="show-for-large">
                          <a
                            href="/fr/paris-saint-germain/t-25192593+z-9969056-3892928360?pageNumber=3&amp;pageSize=72&amp;sortOption=TopSellers"
                            data-trk-id="page-3"
                            data-talos="linkSearchResultsPage"
                            aria-label="page 3"
                            >3</a
                          >
                        </li>
                        <li class="simple-list hide-for-large">
                          <div data-talos="pageCount">1 / 15</div>
                        </li>
                        <li class="next-page">
                          <a
                            href="/fr/paris-saint-germain/t-25192593+z-9969056-3892928360?pageNumber=2&amp;pageSize=72&amp;sortOption=TopSellers"
                            data-trk-id="page-suivante"
                            data-talos="linkSearchResultsNextPage"
                            aria-label="page suivante"
                            aria-disabled="false"
                            tabindex="0"
                            role="link"
                            ><i
                              aria-label="page suivante"
                              aria-disabled="false"
                              class="icon icon-right-arrow"
                              role="presentation"
                            ></i
                          ></a>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
