<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragments_layout_admin}"
>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <div class="row">
        <div class="col-6">
            <li class="nav-item d-none d-md-block">
                <a class="nav-link" href="javascript:void(0)">
                    <nav class="navbar bg-body">
                        <div class="container-fluid">
                            <form class="d-flex" role="search" action="/admin/psg/hoa-don/search" method="get">
                                <input name="searchNameOrMa"
                                       class="form-control custom-shadow custom-radius border-0 bg-white"
                                       type="search" placeholder="Tìm đơn hàng" aria-label="Search">
                                <button class="btn btn-rounded btn-primary" type="submit" style="margin-left: 7px">
                                    Search
                                </button>
                            </form>
                        </div>
                    </nav>
                </a>
            </li>
        </div>
        <div class="col-6">
            <li class="nav-item d-none d-md-block">
                <a class="nav-link" href="javascript:void(0)">
                    <nav class="navbar bg-body">
                        <div class="container-fluid justify-content-end">
                            <a th:href="@{/admin/psg/hoa-don/tao-hoa-don}">
                                <button class="btn btn-rounded btn-primary" type="submit" style="margin-right: 10px;"
                                        onclick="return checkAdd();">
                                    Tạo Đơn Hàng
                                </button>
                            </a>
                        </div>
                    </nav>
                </a>
            </li>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <h4 class="card-title mb-3">Danh Sách Hóa Đơn</h4>
            <div class="tab-content">
                <div class="tab-pane show active" id="home-b1">
                    <table class="table table-striped" id="table-alert">
                        <thead>
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Ngày Tạo</th>
                            <th scope="col">Trạng Thái</th>
                            <th scope="col">Thao Tác</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="hdoncho,index:${listHoaDonCho}">
                            <td th:text="${index.count}"></td>
                            <td th:text="${hdoncho.ngayTao}"></td>
                            <td th:text="${hdoncho.trangThai}"></td>
                            <td th:text="${hdoncho.trangThai}"></td>
                            <td>
                                <span>
                                    <a th:href="@{/admin/psg/hoa-don/cho/edit/{id}(id=${ms.id})}"
                                       class="btn waves-effect waves-light btn-rounded btn-warning"
                                    >Edit</a>
                                    <form th:action="@{/admin/psg/hoa-don/delete/{id}(id=${ms.id})}" method="post"
                                          style="display: inline;">
                                    <a th:href="@{/admin/psg/hoa-don/cho/delete/{id}(id=${ms.id})}">
                                        <button type="submit"
                                                class="btn waves-effect waves-light btn-rounded btn-danger"
                                                onclick="return confirm('Bạn có muốn xóa không')">Delete
                                        </button>
                                    </a>
                                    </form>
                                 </span>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div> <!-- end card-body-->
    </div>
</div>
<script>
    function checkAdd() {
        var tableNum = document.getElementById("table-alert").rows.length;
        if (tableNum > 10) {
            console.log("Vui lòng xử lý các hóa đơn chờ khác");
        }
    }
</script>
</body>
</html>