<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/fragments_layout_admin}"
>
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div class="container" layout:fragment="content">
  <div class="card-body">
    <h4 class="card-title mb-3">Danh Sách Hóa Đơn</h4>
    <div class="tab-content">
      <div class="tab-pane show active" id="home-b1">
        <table class="table table-striped" id="table-alert">
          <thead>
          <tr>
            <th scope="col">STT</th>
            <th scope="col"></th>
            <th scope="col">Ngày Tạo</th>
            <th scope="col">Người Xác Nhận</th>
            <th scope="col">Ghi Chú</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="ls,index:${listHoaDonCho}">
            <td th:text="${index.count}"></td>
            <td th:text="${dhc.ma}"></td>
            <td th:text="${dhc.ngayTao}"></td>
            <td th:text="${dhc.trangThai.moTa}"></td>
            <td>
              <a th:href="@{/admin/psg/hoa-don/detail-hoa-don/{id}(id=${dhc.id})}"
                 class="btn waves-effect waves-light btn-rounded btn-warning"
              >Update</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>

  </div>
</div>
</body>
</html>